@charset "ISO-8859-1";
body {
  background-color: #f1f1f1;
}

img{
	width: 250px;
	height: 250px;
	margin-bottom: 20px;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
}
a:link{
	text-decoration: none;
	font-weight: 600;
}

#errormessage{
   font-size: 20px;
   text-align: center;
   align-content: center;
  } 